{% extends "base.html" %}

{% block content %}
    <div class="profile">
        <div id="profile-picture" class="profile-picture">
            <img src="./static/img/andrew.jpg">
        </div>
        <h1>{{ title }}</h1>
    </div>

    
    <section class="container mt-5">
        <header class="mb-4">
            <h2 class="text-center">About</h2>
        </header>

        <div class="row">
            <div class="col-md-6">
                <h3>Background</h3>
                <p>Hey, I'm Andrew! I am a MSCS student at UT Austin and am proud to be a Summer 2026 MLH Production Engineering Fellow.  </p>
            </div>
            <div class="col-md-6">
                <h3>Interests</h3>
                <p>Hiking, trip planning, and Settlers of Catan. Occasionally I visit technical conferences, check out the Lightning Talk I did at CppNorth 2025 below!</p>
            </div>
        </div>
    </section>
    
    <!-- YouTube embed: occupies middle two quarters (quadrants 2 and 3) -->
    <section class="container mt-4 mb-5">
        <div class="row">
            <div class="col-12 col-md-6 offset-md-3">
                <div class="ratio ratio-16x9">
                    <iframe src="{{ lightning_talk_url }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

